/* Customizações */

body {
  background-color: #ffffff;
  color: black;
  background-image: none;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

button,
.button {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(10, 10, 10, 0.35);
  color: black !important;
}

dl dt {
  color: black;
}

.icon {
  color: #0a7bbe !important;
}

#nav {
  background-color: #0a7bbe;
  color: white;
  border-radius: 0.2em;
}

#nav.alt {
  background-color: rgba(10, 124, 190, 0.87);
  color: white;
}

@media screen and (max-width: 736px) {

  #nav {
    display: unset;
    padding: 0.2em;
    max-width: 100%;
    border-radius: 0%;
  }

}

.icon.style1 {
  color: #a8cf45;
}
.icon.style3 {
  color: #0665af;
}
.icon.style5 {
  color: #449fd4;
}

body.is-preload #header.alt .logo {
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

#main header.major h2:after {
  background-color: #000000;
  background-image: -moz-linear-gradient(90deg, #a8cf45, #0665af, #449fd4);
  background-image: -webkit-linear-gradient(90deg, #a8cf45, #0665af, #449fd4);
  background-image: -ms-linear-gradient(90deg, #a8cf45, #0665af, #449fd4);
  background-image: linear-gradient(90deg, #a8cf45, #0665af, #449fd4);
}